/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: flex-end;
    height: 79px;
}

.logo {
    position: absolute;
    left: 30px;
    top: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    gap: 68px;
    width: 328.6px;
}

.menu .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 68px;
}

.head-button:hover {
    box-shadow: inset 0px 2px #0065FC;
}

a.headlink {
    padding-top: 16px;
    display: flex;
    height: 100%;
    width: 100%;
}

a.headlink:hover{
    color: #0065FC;
}

a.headlink:link{
    text-decoration:none;
}

.headlink {
    color: black;
}

/****** Trouver Hebergement ***********/
.formulaire {
    display: flex;
    flex-direction: row;
}

.left-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 47px;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.middle-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    height: 47px;
}

.right-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    height: 49px;
}

input{
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
input::placeholder {
    color: black;
    opacity: 1;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.trouver-hebergement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.headline p{
    margin: 0;
}

.searchbar {
    background-color: #0065FC;
    color: #F2F2F2;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filters-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.filter-button{
    box-sizing: border-box;
    height: 50px;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px
}

.filter-button:hover{
    background-color: #DEEBFF;
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infobar p{
    margin: 0;
}

.icon {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.fa-location-dot {
    color: black;
}

.neutral-star {
    color: #D9D9D9;
}

.button-icon {
    color: #0065FC;
}
/****** Hebergements ***********/
.hebergements {
    width: 871px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 29.5%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 8px;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.display h3{
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires a {
    text-decoration: none;
    color: black;
    display: flex;
    width: 100%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;

}

.activites a{
    text-decoration: none;
    color: black;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    padding-left: 19px;
}

/****** Footer ***********/
footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    background: #F2F2F2;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 33%;
}

.footer-links a{
    text-decoration:none;
    color: black;
}

.footer-links h3{
    margin: 0;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 15px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .head-container {
        flex-direction: column;
        justify-content: center;
        border: 2px #0065FC solid;
    }

    .logo {
        justify-content: center;
        margin: auto;
        padding-top: 30px;
    }

    .buttons {
        justify-content: space-between;
        margin: 0;
        padding: 0;
        border-bottom: 2px #F2F2F2 solid;
        border: 2px #0065FC solid;
    }

    .buttons .head-button:hover {
        border-top: none;
        border-bottom: 2px #0065FC solid;
    }
}
