/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    display: flex;
    justify-content: flex-end;
    height: 79px;
}

.logo {
    position: absolute;
    left: 30px;
    top: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;
    gap: 68px;
    width: 328.6px;
}

.menu .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 68px;
}

.head-button:hover {
    box-shadow: inset 0px 2px #0065FC;
}

a.headlink {
    padding-top: 16px;
    display: flex;
    height: 100%;
    width: 100%;
}

a.headlink:hover{
    color: #0065FC;
}

a.headlink:link{
    text-decoration:none;
}

.headlink {
    color: black;
}

/****** Trouver Hebergement ***********/

.formulaire {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 49px;
}

.left-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 51px;
    border-radius: 15px 0px 0px 15px;
}

.middle-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.middle-formulaire input{
    padding: 0px;
}

.right-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    height: 49px;
}
.right-formulaire button{
    display: none;
}

input{
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 0px 16px;
}
input::placeholder {
    color: black;
    opacity: 1;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.trouver-hebergement{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

.headline{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.headline p{
    margin: 0;
}

.searchbar-text {
    background-color: #0065FC;
    color: #F2F2F2;
}

.filter-bar {
    display: flex;
    gap: 15px;
}

.filters {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.filters-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.filter-button{
    box-sizing: border-box;
    height: 50px;
    background-color: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 19px;
    gap: 10px
}

.filter-button:hover{
    background-color: #DEEBFF;
}

.infobar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.infobar p{
    margin: 0;
}

.icon {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.fa-location-dot {
    color: black;
}

.neutral-star {
    color: #D9D9D9;
}

.button-icon {
    color: #0065FC;
}
/****** Hebergements ***********/
.hebergements {
    width: 871px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--main-bg-color);
}

.hebergements a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 29.5%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    gap: 8px;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.display h3{
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires a {
    text-decoration: none;
    color: black;
    display: flex;
    width: 100%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activites {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 30px;

}

.activites a{
    display: flex;
    flex-direction: column;
    gap: 0px;
    text-decoration: none;
    color: black;
    width: 100%;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
    padding: 0;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    min-height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 19px;
}

/****** Footer ***********/
footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    background: #F2F2F2;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 33%;
}

.footer-links a{
    text-decoration:none;
    color: black;
}

.footer-links h3{
    margin: 0;
}

.footer-links ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 15px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-bar {
        flex-direction: column;
    }

    .filters-title {
        margin: 0;
    }

    .filters button {
        font-weight: 700;
        font-size: 16px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards .card-content {
        height: 70px;
    }

    .activites-cards h3 {
        margin: 0;
    }

    .activites-cards img {
        max-height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    }
    /* ... */
    header {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .logo {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        left: 0;
        top: 0;
    }

    .menu {
        padding: 0px;
        gap: 15px;
        width: 100%;
    }

    .menu .buttons {
        justify-content: center;
        align-items: flex-start;
        gap: 0px;
        width: 100%;
    }

    .head-button {
        width: 50%;
    }

    .head-button:hover {
        box-shadow: inset 0px -2px #0065FC;
    }

    a.headlink {
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 16px;
    }
    

    /* Trouver Hebergement */

    .trouver-hebergement {
        padding: 0px 20px;
    }

    .formulaire {
        width: 100%;
        justify-content: space-between;
        gap: 0px;
    }

    .middle-formulaire {
        justify-content: space-between;
        box-sizing: content-box;
        position: absolute;
        left: 94px;
    }

    .middle-formulaire input {
        width: 147px;
    }

    .right-formulaire {
        border-radius: 15px;
        justify-self: flex-end;
    }

    .searchbar-text {
        display: none;
    }

    .formulaire button {
        display: block;
        border: none;
        outline: none;
        height: 49px;
        width: 49px;
        border-radius: 15px;
        background-color: #0065FC;
    }

    .fa-magnifying-glass {
        width: 17px;
        height: 17px;
        color: white;
    }

    .filter-button {
        min-width: 47%;
    }

    .filters button {
        font-weight: 700;
        font-size: 14px;
    }

    /* Hebergements And Populaires */

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        background-color: none;
    }

    .populaires {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .populaires-cards .card {
        width: 100%;
        margin-top: 0px;
    }

    .hebergements {
        gap: 15px;
        background-color: transparent;
    }

    .hebergements-cards {
        gap: 15px;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    /* Activites */

    .activites-cards {
        flex-direction: column;
        width: 100%;
    }

    .activites-cards .card {
        width: 100%;
    }

    .activites-cards img {
        height: 141px;
        min-height: 141px;
    }

    .activites-cards .card-content {
        height: auto;
        padding: 20px 19px;
    }

    /* Footer */

    footer {
        flex-direction: column;
    }

    .footer-links {
        width: 100%;
    }

}